PORT=8080
ALLOWED_EMAIL_DOMAIN=certizen,affinidi
AUTH_TOKEN=my_secure_token

#storage options: 'file' or 'redis'
STORAGE_BACKEND=file 
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_SECURE=false

# Service Configuration
UNIVERSITY_NAME=Hong Kong University
UNIVERSITY_DID={HK_UNIVERSITY_DID}
UNIVERSITY_DOMAIN={HK_UNIVERSITY_DOMAIN}

SERVICE_DID=did:web:b1140049-55a0-4a0b-8515-dd2bb82a237a.mpx.affinidi.io
MEDIATOR_DID=did:web:0dc575cc-02dc-4fc4-b605-6ae6e2cd06f7.atlas.affinidi.io


# Trust Registry
TRUST_REGISTRY_DID={HK_TRUST_REGISTRY_DID}
TRUST_REGISTRY_URL={HK_TRUST_REGISTRY_URL}

# Database
STORAGE_BACKEND=json
DATA_PATH=./data

# Credentials
ISSUER_KEY_PATH=./keys/issuer-key.json
