# Ngrok Configuration
NGROK_AUTH_TOKEN=your_ngrok_auth_token_here

# GitHub repository (cloned during setup)
TRUST_REGISTRY_API_REPO_URL="https://github.com/affinidi/affinidi-trust-registry-rs"
# Pin to specific commit/tag/branch to avoid breaking changes
TRUST_REGISTRY_API_COMMIT="2c87c33"

# Mediator Configuration (Affinidi Messaging)
SERVICE_DID=
MEDIATOR_DID=
MEDIATOR_URL=

# Hong Kong University Configuration
HK_UNIVERSITY_SERVICE_DID=did:web:example.ngrok.io:hongkong-university
HK_TRUST_REGISTRY_URL=http://hk-trust-registry:3232

# Macau University Configuration
MACAU_UNIVERSITY_SERVICE_DID=did:web:example.ngrok.io:macau-university
MACAU_TRUST_REGISTRY_URL=http://macau-trust-registry:3233

# Singapore Employer Configuration
SG_UNIVERSITY_SERVICE_DID=did:web:example.ngrok.io:sg-university
SG_TRUST_REGISTRY_URL=http://sg-trust-registry:3233


# Nova Corp Verifier Configuration
NOVA_CORP_SERVICE_DID=did:web:example.ngrok.io:nova-corp

# Hong Kong Ministry Trust Registry Database
HK_TR_DB_USER=postgres
HK_TR_DB_PASSWORD=postgres

# Macau Ministry Trust Registry Database
MACAU_TR_DB_USER=postgres
MACAU_TR_DB_PASSWORD=postgres

# Singapore Ministry Trust Registry Database
SG_TR_DB_USER=postgres
SG_TR_DB_PASSWORD=postgres

# Mobile App Configuration
APP_VERSION_NAME="1.0.0"
