APP_VERSION_NAME=$APP_VERSION_NAME
FIREBASE_MESSAGING_SENDER_ID="569838878924"
FIREBASE_PROJECT_ID="certizen-7d257"
FIREBASE_STORAGE_BUCKET="certizen-7d257.firebasestorage.app"
FIREBASE_IOS_APIKEY="AIzaSyAjZNeLDIoH7ieAzSocqlQganV2ppuymKs"
FIREBASE_IOS_APP_ID="1:569838878924:ios:c1f0f7ebbfaced25684269"
FIREBASE_IOS_BUNDLE_ID="com.affinidi.certizen.studentApp"
FIREBASE_ANDROID_APIKEY="AIzaSyA_FAmcHCYZ643ZgOPx6_QyeYbz7b2vX_k"
FIREBASE_ANDROID_APP_ID="1:569838878924:android:44615555a3b989f3684269"
SERVICE_DID=$SERVICE_DID
MEDIATOR_DID=$MEDIATOR_DID

# FIREBASE_MESSAGING_SENDER_ID=$FIREBASE_MESSAGING_SENDER_ID
# FIREBASE_PROJECT_ID=$FIREBASE_PROJECT_ID
# FIREBASE_STORAGE_BUCKET=$FIREBASE_STORAGE_BUCKET
# FIREBASE_IOS_APIKEY=$FIREBASE_IOS_APIKEY
# FIREBASE_IOS_APP_ID=$FIREBASE_IOS_APP_ID
# FIREBASE_IOS_BUNDLE_ID=$FIREBASE_IOS_BUNDLE_ID
# FIREBASE_ANDROID_APIKEY=$FIREBASE_ANDROID_APIKEY
# FIREBASE_ANDROID_APP_ID=$FIREBASE_ANDROID_APP_ID
