APP_VERSION_NAME=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_IOS_APIKEY=""
FIREBASE_IOS_APP_ID=""
FIREBASE_IOS_BUNDLE_ID=""
FIREBASE_ANDROID_APIKEY=""
FIREBASE_ANDROID_APP_ID=""

# Service DIDs and URLs
HK_UNIVERSITY_SERVICE_DID=""
HK_UNIVERSITY_SERVICE_URL=""
MACAU_UNIVERSITY_SERVICE_DID=""
MACAU_UNIVERSITY_SERVICE_URL=""
NOVA_CORP_SERVICE_DID=""
NOVA_CORP_SERVICE_URL=""

# Mediator Configuration
DEFAULT_MEDIATOR_DID=""
MEDIATOR_DID=""